{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>
    {%  for user in users %}
        <h5>-- ID n°{{ user.id }} --</h5>
        <p>Nom : {{ user.username }}</p>
        <p>Email : {{ user.email }}</p>
        <br/>
    {% endfor %}
{% endblock %}

